h1 {
  font-size: 40px;
  line-height:1;
}
h2 {
  font-size: 32px;
  line-height:1;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 100%;
}
h5 {
  font-size: 80%;
}
h6 {
  font-size: 80%;
  font-weight: normal;
}

.heading--a {font-size:40px;}

.heading--b {font-size:32px;}

.heading--c {font-size:24px;}

.heading--d {font-size:20px;}

.heading--e {font-size:18px;}

.heading-f  {font-size:16px;}

.book {font-weight:400;}

.medium {font-weight:500;}

.semibold {font-weight:600;}

.bold {font-weight:700;}

.heavy {font-weight:900;}

.italic {font-style:italic;}

body {
  font-family: "freight-sans-pro",sans-serif;
  font-style: normal;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

.center {
  text-align:center;
}
