<div class="container">
  <div class="grid">
    <div class="grid__col grid__col--8-of-12 grid__col--centered">
      <nav class="main-nav">
        <a class="main-nav__logo" href="#">wemake</a>
        <ul class="main-nav-anchors">
          <li {% if mixture.url == "index" %}class="active main-nav-anchors__item" {% else %}class="main-nav-anchors__item"{% endif %}><a href="/">Home</a></li>
          <li {% if mixture.url == "submit" %}class="active main-nav-anchors__item" {% else %}class="main-nav-anchors__item"{% endif %}><a href="mailto:cai@hassle.com">Submit a job</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
