{% block content %}
	<div class="starter-template">
		<h1>Hello, world!</h1>
		<p>You are using the Mixture + Bootstrap (v3.1.0) boilerplate.</p>
		<p><a class="btn btn-primary btn-large" href="http://twitter.github.com/bootstrap/">Read the Bootstrap documentation &raquo;</a></p>
		<p><a class="btn btn-primary btn-large" href="http://docs.mixture.io">Read the Mixture documentation &raquo;</a></p>
	</div>
  {% raw %}
  <script type="text/x-handlebars">

    <section id="todoapp">
      <ul id="todo-list">
        {{#each todo in model}}
          <li>
            <input type="checkbox" class="toggle">
            <label>{{todo.title}}</label><button class="destroy"></button>
          </li>
        {{/each}}
      </ul>
    </section>

    <footer id="info">
      <p>Double-click to edit a todo</p>
    </footer>

  </script>
  {% endraw %}
{% endblock %}
