{% block content %}
{% raw %}
  <img src="../public/img/index__hero.png" class="hero__image">
    <h1 class="hero__heading">
      Want a startup job in London?
      <br/>
      We’ve got you covered
    </h1>
    <h2 class="hero__subheading heading--c book center italic">
      Nulla nulla ante, varius vitae finibus scelerisque
    </h2>
        <ul ng-controller="ViewJob" class="jobs-list">
            <li ng-repeat="key in text" class="jobs-list__item">
            <h1 class="heading--e bold pull-left">
                {{ key.job_role }}
            </h1>
            <p class="pull-right">
              {{ key.location }}
            </p>
            <p>
              {{ key.job_type }}
            </p>
          </li>
      </ul>
{% endraw %}
{% endblock %}
