{% block content %}
{% raw %}
<div class="container">
  <div class="grid">
    <div class="grid__col grid__col--8-of-12 grid__col--centered">
      <div ng-controller="ViewJob">
          <div ng-repeat="key in text">
          <h1>
              {{ key.job_role }}
          </h1>
          <p>
            {{ key.location }}
          </p>
          <p>
            {{ key.job_type }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endraw %}
{% endblock %}
