{% block content %}
{% raw %}
<div ng-controller="ViewJob">
    <div ng-repeat="key in text">
    <h1>
        {{ key.job_role }}
    </h1>
    <p>
      {{ key.location }}
    </p>
    <p>
      {{ key.job_type }}
    </p>
  </div>
</div>

{% endraw %}
{% endblock %}
