{% block content %}
{% raw %}
  <img src="../public/img/index__hero.png" class="hero__image">
    <h1 class="hero__heading">
      Want a startup job in London?
      <br/>
      We’ve got you covered
    </h1>
    <h2 class="hero__subheading heading--c book center italic">
      Nulla nulla ante, varius vitae finibus scelerisque
    </h2>
        <ul ng-controller="ViewJob" class="jobs-list">
          <a href="#">
            <li ng-repeat="key in text" class="jobs-list__item">
            <h1 class="heading--e bold pull-left">
                {{ key.job_role }}
            </h1>
            <p class="pull-right heading-e medium">
              {{ key.location }}
            </p>
            <p class="job-list-job-type">
              {{ key.job_type }}
            </p>
            </li>
          </a>
      </ul>
{% endraw %}
{% endblock %}
