{% block content %}
{% raw %}
  <img src="../public/img/index__hero.png" class="hero__image">
    <h1 class="hero__heading">
      Want a startup job in London?
      <br/>
      We’ve got you covered
    </h1>
    <h2 class="hero__subheading heading--c book center italic">
      Nulla nulla ante, varius vitae finibus scelerisque
    </h2>
  <div class="grid">
        <div ng-controller="ViewJob" class="grid__col--6-of-12">
            <div ng-repeat="key in text">
            <h1>
                {{ key.job_role }}
            </h1>
            <p>
              {{ key.location }}
            </p>
            <p>
              {{ key.job_type }}
            </p>
          </div>
        </div>
      </div>
{% endraw %}
{% endblock %}
